.title{
    font-style: Georgia;
    color: rgb(47, 47, 114);
    background-color: lightgray;
    size: 24px;
    letter-spacing: 1.6em;
    word-spacing: 2em;
    text-align: center;

}
.heading{
    font-style: Georgia;
    color: darkred;
    size: 18px;
    letter-spacing: 1.4em;

}

.main-section{
    width: 210mm; 
            height: 210mm; 
            margin: 0 auto; 
            background-color: #ffffff; 
            border: 2px solid black ;
            padding: 20px;
}
.container {
    display: flex; 
    justify-content: space-between; 
}
.column {
    flex: 1; 
    padding: 10px; 
}